#left
  %p
    Feel free to contact me using the medium that suits you the most.
  %p
    You may also like to visit me on one of my social network pages.
  %p
    I may sometimes be out in the open, gleefully away from the Internet, so you might want to try my cell phone (available 24/7 unless I time travel).
 
#right
  %p.contact
    = image_tag "email.png"
    julio.ademar@gmail.com
  %p.contact
    = image_tag "phone.png"
    (+351) 931 616 899
  %p.contact
    %a{ :href => "http://www.linkedin.com/in/jvsantos" }
      = image_tag "linkedin_16.png", :alt => "linkedin"
    %a{ :href => "http://www.facebook.com/julioademar" }
      = image_tag "facebook_16.png", :alt => "facebook"

#stackoverflow
  %a{ :href => "http://stackoverflow.com/users/214773/julio-santos" }
    %img{ :src => "http://stackoverflow.com/users/flair/214773.png", :width => "208", :height => "58", :alt => "My profile on Stack Overflow", :title => "My profile on Stack Overflow" }
