#left
  %p
    Should you want to know more about me, my education, experience, and skills, please feel free to download my CV.
  %p
    Typography on the web is substandard. That is why I am making my CV available as a decent, anti-aliased and kerned PDF file. Get your free copy now!
 
#right
  %p.download
    %a{ :href => "cv.pdf" }
      = image_tag "PDF.png"
      Download PDF
