#left
  %h1
    Hello, and welcome to my humble abode. Feel free to take a look around.
  %p
    != "My name is Júlio Santos and I am a Software Engineer living in <strong>Copenhagen</strong>. I just finished the Master in Informatics and Computing Engineering this July at <a href='http://www.fe.up.pt'>FEUP</a>."
  %p
    != "My <strong>main interests</strong> are Software Engineering, Human-Computer Interaction, Usability, Web Development and Information Visualization."
  %p
    != "I am also a <strong>great cook</strong>."
 
#right
  %p.photo
    = image_tag "me4.jpg", :alt => "my photo"
  %p.photo
    This is what I usually look like, give or take the ketchup bottle.
