a, a:visited {
  color: #9E4500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#content {
  color: black;
  margin: 175px auto 0 auto;
  text-align: center;
  max-width: 400px;
  font-family: Georgia, sans-serif;
  font-style: italic;
}

h1 {
  font-family: Georgia, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #410928;
  font-size: 42px;
  line-height: 36px;
  margin-bottom: 20px;
}

h1 span {
  font-weight: normal;
  color: #680e3f;
}

#about p {
  font-size: 20px;
  margin: 0 auto 10px auto;
  max-width: 350px;
}

#contact p {
  font-size: 16px;
}

#cv {
  margin-top: 10px;
}
