a, a:visited {
  color: #680E3F;
  text-decoration: none;
}

a:hover {
  color: #680E3F;
  text-decoration: underline;
}

#content {
  color: #30312d;
  margin: 175px auto 0 auto;
  text-align: center;
  max-width: 400px;
  font-family: "Georgia", "Nimbus Roman No9 L", sans-serif;
  font-style: italic;
}

#content p {
}

h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 42px;
  line-height: 36px;
  margin-bottom: 20px;
}

h1 span {
  font-weight: normal;
  color: #f2c6a0;
}

#about p {
  font-size: 20px;
  margin: 0 auto 10px auto;
  max-width: 350px;
}

#contact p {
  font-size: 16px;
}

#cv p {
  margin-top: 10px;
}
