body {
  background-color: #222;
}

#content {
  position: relative;
  border: 1px dashed white;
}

#content {
  background: #222 url(../images/blueprint.jpg) no-repeat;
  margin: 20px auto 0 auto;
  width: 447px;
  height: 600px;
}

#content a {
  position: absolute;
  background: transparent url(../images/camera.png) no-repeat;
  width: 30px;
  height: 30px;
}
